.idea
.vscode
.DS_Store
__pycache__
outputs/*
other
prolly_delete
coverage
downloads
.coverage
.coveragerc
/imaginairy/data/stable-diffusion-v1.yaml
/imaginairy/data/stable-diffusion-v1-4.ckpt
build
dist
**/*.ckpt
**/*.egg-info
tests/test_output
gfpgan/**
.python-version
._.DS_Store
tests/vastai_cli.py
/tests/test_output_local_cuda/
/testing_support/
.unison*
*.kgrind
*.pyprof
**/.polyscope.ini
**/imgui.ini
**/.eggs
/img_size_memory_usage.csv
/tests/test_cluster_output/
/.env
*.ipynb
.ipynb_checkpoints