coverage
httpx
mkdocs-material
mkdocs-click
mkdocstrings[python]
mypy
ruff
pytest
pytest-asyncio
pytest-randomly
pytest-sugar
responses
types-pillow
types-psutil
types-requests
types-tqdm
wheel

-c tests/constraints.txt